
<h1> Posts Show </h1>

<h3><%= @post.title %></h3>
<h3><%= @post.content.to_s %></h3>
<h3><%= @post.likes %></h3>

<%= link_to @blogger.name, blogger_path(@blogger) %><br>
<%= link_to @post.destination.name, destination_path(@post) %><br>
