<h1> Destinations Show </h1>

<h2><%= @destination.name %></h2>
    <% @recent_posts.each do |post| %>
        <p>Post Name: <%= link_to post.title, post_path(post) %> Likes: <%= post.likes %></p><br />
    <% end %>

<% if @feature.present? %>
<h3>Title: <%= link_to @feature.title, post_path(@feature) %> Likes: <%= @feature.likes %></h3>
<% end %>

<h3>The average age of all the bloggers that have written about this destination are <%= @average_age %></h3>
